<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307172683532-c9gas91oom6811i5j6fq1jg1s2k68clo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307172683532-c9gas91oom6811i5j6fq1jg1s2k68clo</string>
	<key>API_KEY</key>
	<string>AIzaSyDQGCyPcs8GOVoO34YRP3DWah3ShNWnhnU</string>
	<key>GCM_SENDER_ID</key>
	<string>307172683532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LS.RoyalFitness</string>
	<key>PROJECT_ID</key>
	<string>final-e6e41</string>
	<key>STORAGE_BUCKET</key>
	<string>final-e6e41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307172683532:ios:6a75d20ceb81004cf22329</string>
	<key>DATABASE_URL</key>
	<string>https://final-e6e41.firebaseio.com</string>
</dict>
</plist>